:root {
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* user-select: none; */
  scroll-behavior: smooth;

  --colour_title: #ffa600;
  --colour_text_light: #f5f5f5;
  --colour_text_medium: #505050;
  --colour_text_dark: #0f0000e5;

  --colour_attribute: #eebc1a;

  --colour_back_white: #f5f5f5;
  --colour_back_light: #a1a1a1;
  --colour_back_medium: #2c2f33;
  --colour_back_dark: #23272a;
  --colour_controls: #ff3c00;

  --title_shadow: 1px 1px 3px var(--colour_text_dark);
  --box_shadow_light: 0px 0px 5px var(--colour_back_white);

  --header_height: 0px;
  --footer_height: 20px;
  --nav_bar_width: 55px;
  --article-surrounding-space: 10px;
}


/* GENERAL */
* {
  box-sizing: border-box;
}

body {
  background-color: var(--colour_back_light);
  /* font-family: var(--font-family); */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

/* *::-webkit-scrollbar {
  width: 0.25rem;
}
*::-webkit-scrollbar-track {
  background-color: var(--colour_back_dark);
  border-radius: 2px;
  margin: 5px 0;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--colour_controls);
  outline: 1px solid var(--colour_controls);
  border-radius: 5px;
} */


/* NAVIGATION */
nav {
  position: fixed;
  top: var(--header_height);
  bottom: var(--footer_height);
  width: var(--nav_bar_width);
  left: 0;
  background-color: var(--colour_back_dark);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  z-index: 10;
}


/* HEADER */
header {
  position: absolute;
  left: var(--nav_bar_width);
  right: 0;
  top: 0;
  height: var(--header_height);
  background-color: var(--colour_back_light);
  align-items: center;
  text-align: center;
}


/* MAIN VIEW */
main {
  position: absolute;
  top: var(--header_height);
  left: var(--nav_bar_width);
  right: 0px;
  bottom: var(--footer_height);
  z-index: 0;
}

main article {
  position: absolute;
  top: var(--article-surrounding-space);
  left: var(--article-surrounding-space);
  right: var(--article-surrounding-space);
  bottom: var(--article-surrounding-space);
  margin-right: 20px;
  z-index: 0;
  visibility: hidden;
}

.view-section {
  width: 100%;
}

.visible {
  visibility: visible;
}

/* FOOTER */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--colour_back_medium);
  height: var(--footer_height);
  font-size: 12px;
  color: var(--colour_text_medium);
  z-index: 0;
  text-align: right;
}



/* .title-bar {
  height: 30px;
  width: 100%;
  background-color: var(--colour_back_dark);
  color: var(--colour_title);
  -webkit-app-region: drag; Should move the window app around when the title bar is grabbed (TODO: test on Linux).
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.title-bar .document-name,
.title-bar .menu-section {
  margin-right: 10px;
}

main {
  flex: 1;
  padding: 10px;
}

main textarea {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: var(--colour_text_light);
  border: none;
  outline: none;
  resize: none;
} */
