<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline';">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline';">
    <title>YADTS Manager!</title>
    <script src="./renderer.js" type="module" defer></script>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <!-- Navigation bar contains the tabs for each section. -->
    <nav id="nav">
      <nav-tab tabName="gameSystem" tooltip="Game System" imgSrc="./UI/buttons/Books 1.png"></nav-tab>
      <nav-tab tabName="calendar" tooltip="Calendar" imgSrc="./UI/buttons/Calendar 1.png"></nav-tab>
      <nav-tab tabName="campaign" tooltip="Campaign" imgSrc="./UI/buttons/Notebook 1.png"></nav-tab>
      <nav-tab tabName="creatures" tooltip="Creatures" imgSrc="./UI/buttons/Cat 1.png"></nav-tab>
      <nav-tab tabName="world" tooltip="World" imgSrc="./UI/buttons/Building 1.png"></nav-tab>
      <nav-tab tabName="network" tooltip="Network" imgSrc="./UI/buttons/Network 1.png"></nav-tab>
      <nav-tab tabName="settings" tooltip="Settings" imgSrc="./UI/buttons/Edit 1.png"></nav-tab>
    </nav>

    <header>Header!</header>

    <!-- Main contains all the relevant information/controls, based on which tab has been selected. -->
    <main>
      <!-- Each article will represent the collection of items in a single category.  -->
      <article id="network-article">NETWORK</article>
      <article id="gameSystem-article">GAME SYSTEM</article>
      <article id="calendar-article">CALENDAR</article>
      <article id="campaign-article">CAMPAIGN</article>
      <article id="creatures-article">CREATURE</article>
      <article id="world-article">WORLD</article>
      <article id="settings-article">SETTINGS</article>
    </main>

    <!-- Footer is used to log information. -->
    <footer>footer...</footer>


    <!-- <div class="title-bar">
      <span class="document-name">Title Placeholder!</span>
      <div class="menu-section">
        <button>add</button>
        <button>create</button>
      </div>
    </div>

    <main>
      <textarea id="text-area"></textarea>
    </main> -->

    <!-- <button id="-tab" id="btn-link" type="button">Open Link!</button> -->
    <!-- <p>We are using Node.js <span id="node-version"></span>,
    Chromium <span id="chrome-version"></span>,
    and Electron <span id="electron-version"></span>.</p>
    <br/>
    Title: <input id="title"/>
    <button id="-tab" id="btn" type="button">Set</button>
    <br/>
    <button id="-tab" type="button" id="btn-of">Open a File</button>
    <p>File path: <strong id="filePath"></strong></p> -->
  </body>
</html>
