<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>YADTS Manager!</title>
    <script src="./renderer.js" defer></script>
  </head>
  <body>
    <p>We are using Node.js <span id="node-version"></span>,
    Chromium <span id="chrome-version"></span>,
    and Electron <span id="electron-version"></span>.</p>
    <br/>
    Title: <input id="title"/>
    <button id="btn" type="button">Set</button>
    <br/>
    <button type="button" id="btn-of">Open a File</button>
    <p>File path: <strong id="filePath"></strong></p>
  </body>
</html>
