<!-- This is the landing page of an application renderer. -->
<!-- It contains only the highest order structures. -->
<!-- Substructures are instead defined as web-components and are injected into this. -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline';">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline';">
    <title>Systems Intelligence Manager!</title>
    <script src="./renderer.js" type="module" defer></script>
    <link rel="stylesheet" href="./styles/styles.css">
  </head>
  <body>

    <!-- Navigation bars are placed around the screen. -->
    <header>
      <!-- Top controls - TODO: maybe put these in the application bar? -->
    </header>
    <div id="main">
      <aside id="left-aside">
        <nav id="game-system">
          <!-- Game system controls. -->
        </nav>
        <nav id="encounter">
          <!-- Encounter controls. -->
        </nav>
      </aside>
      <article id="viewport">
        <!-- Viewport to hold the current open map. -->
      </article>
      <aside id="right-aside">
        <nav id="world">
          <!-- World controls. -->
        </nav>
        <nav id="selection">
          <!-- Selection controls. (TODO: probably not needed) -->
        </nav>
      </aside>
    </div>
    <!-- The footer is used to log information. -->
    <footer></footer>
  </body>
</html>
